/* login.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
  font-family: 'Poppins', sans-serif;
}

.login-box {
  background: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 350px;
  text-align: center;
}

.login-box h2 {
  color:green;
  margin-bottom: 20px;
  font-size: 24px;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box label {
  text-align: left;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

.login-box input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
}

.login-box input:focus {
  border-color: green;
  box-shadow: 0 0 5px rgba(25, 118, 210, 0.3);
}

.login-box button {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-box button:hover {
  background-color:green;
}

.login-box p {
  margin-top: 15px;
  color: #555;
  font-size: 14px;
}
